server {
    listen 6600;

    location / {
        proxy_pass http://${FRONTEND_HOST}:6601/;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 3600;
    }
}
